<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <table class="table">
        <tbody>
          <tr>
            <td><H1 class="title">El aroma mágico</H1></td>
          </tr>
          <tr>
            <td>
              <img src="assets/images/banner.png" />
            </td>
          </tr>
        </tbody>
        
      </table>      
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-list-cafes></app-list-cafes>
    </div>
  </div>
</div>